*{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

.sidebar input{
  width: 20%;
  border-radius:6px;
  padding: 9px 5px;
  margin: 10px;
  margin-top: 15px;
  
}

.contact{
  width: 100%;
  display: flex;
  justify-content:left;
  align-items: center;
  padding: 10px;
  list-style: none;
}
.contact img{
  width: 30px;
  padding: 10px;
  border-radius: 50px;
}
 
.contact div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.statusv::before{
  display:inline-block;
  vertical-align: middle;
  content: "●" ;
  color: green;
  font-weight: bold;  
  padding: 5px;
}
.statusr::before{
   display:inline-block;
  vertical-align: middle;
  content: "●" ;
  color:red;
  font-weight: bold;  
  padding: 5px;
}
