
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex; 
  height: 100vh;
  /*el contenedor ocupa el 100% de la altura del navegador */
  overflow: hidden;
    /* ocultamos culquier contenido que se desborde, asi evito barras de desplazmaiento */
  }
  .sidebar{
    
  border-right: 1px solid grey; 
   /*Con esto colocamos el borde vertical | para dividir el chat*/
   background-color: aquamarine;
   display: flex;
   flex-direction: column;
  }

.sidebar input {
  width: 85%;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 15px auto;
  /* agregamos auto para centrar horizonrtal el contenedor */
}
.contact-list{
  list-style: none;
}

.contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  /* el div utilizara todo el espacio disponible*/
  overflow: hidden;
  /* evitamos desbordes*/

}

.contact {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  gap: 10px;
  
}

.contact img {
  width: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.statusr,
.statusv {
  
  color: gray;
}

.statusv::before {
  display: inline-block;
  vertical-align: middle;
  content: "●";
  color: green;
  font-weight: bold;
  padding: 5px;
}

.statusr::before {
  display: inline-block;
  vertical-align: middle;
  content: "●";
  color: red;
  font-weight: bold;
  padding: 5px;
}

.header{
  border-bottom: 1px solid gray;
   /* colocamos borde horizontal ___ */
   margin-bottom: auto;
   padding: 5px;
   
}
.chat-header {
  display: grid;
  grid-template-columns: auto 1fr 4fr;
  align-items: center;
  gap:10px; 
   
}

.chat-header h3 {
  font-weight: bold;
  
}

.chat-header img {
  width: 35px;
  border-radius: 50%;
  
}

.chat-actions button {
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}



.chat-messages {
  display:grid;
  padding: 15px;
  border-bottom: 1px solid gray;
  
}
  

main{
display: grid;
grid-template-columns: auto ;
background-color: aqua; 
height: 100vh;
flex-grow: 1;
}


.message-sent{
 margin-bottom: auto; 
 justify-self:end;
background-color: blueviolet;
border-radius: 10px;
padding: 20px 30px;
}

.time{
  color: gray;
  font-size: 14px;
}

.message-received1{
 margin-bottom: auto; 
 justify-self:start;
background-color: blueviolet;
border-radius: 10px;
padding: 20px 30px;
}
.message-received2{
margin-bottom: auto; 
 justify-self:start;
background-color: rosybrown;
border-radius: 10px;
padding: 10px 30px;
}

.chat-footer input{
 padding: 5px 40%;
  
}